absl-py==2.4.0
accelerate==1.13.0
addict==2.4.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
albucore==0.1.2
albumentations==1.4.10
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyascii==0.3.2
anyio==4.12.1
astunparse==1.6.3
async-timeout==5.0.1
attrs==26.1.0
audioread==3.1.0
av==17.0.0
babel==2.18.0
bcrypt==5.0.0
beautifulsoup4==4.14.3
bert-score==0.3.13
bitsandbytes==0.49.2
boto3==1.42.74
botocore==1.42.74
brotli==1.2.0
build==1.4.0
cached_path==1.8.10
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
chromadb==1.5.5
chumpy==0.70
click==8.3.1
cn2an==0.5.22
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.3.2
coqpit-config==0.2.4
coqui-tts==0.27.5
coqui-tts-trainer==0.3.3
crcmod==1.7
cryptography==46.0.5
ctranslate2==4.7.1
cycler==0.12.1
Cython==3.2.4
datasets==4.8.4
dateparser==1.1.8
decorator==4.4.2
Deprecated==1.3.1
diffusers==0.30.2
dill==0.4.1
diskcache==5.6.3
Distance==0.1.3
distro==1.9.0
docopt==0.6.2
docstring_parser==0.17.0
dtw-python==1.7.4
durationpy==0.10
einops==0.8.1
einx==0.4.3
ema-pytorch==0.7.9
encodec==0.1.1
eng_to_ipa==0.0.2
exceptiongroup==1.3.1
f5-tts==1.1.18
fastapi==0.135.1
faster-whisper==1.2.1
ffmpeg-python==0.2.0
ffmpy==1.0.0
filelock==3.14.0
fire==0.7.1
flatbuffers==25.12.19
fonttools==4.62.1
frozendict==2.4.7
frozenlist==1.8.0
fsspec==2025.12.0
fugashi==1.3.0
future==1.0.0
g2p-en==2.1.0
g2pkk==0.1.2
gast==0.4.0
gdown==5.2.1
gitdb==4.0.12
GitPython==3.1.46
google-api-core==2.30.0
google-auth==2.49.1
google-auth-oauthlib==0.4.6
google-cloud-core==2.5.0
google-cloud-storage==3.10.1
google-crc32c==1.8.0
google-genai==1.72.0
google-pasta==0.2.0
google-resumable-media==2.8.0
googleapis-common-protos==1.73.0
gradio==6.9.0
gradio_client==2.3.0
groovy==0.1.2
grpcio==1.78.0
gruut==2.2.3
gruut-ipa==0.13.0
gruut_lang_de==2.0.1
gruut_lang_en==2.0.1
gruut_lang_es==2.0.1
gruut_lang_fr==2.0.2
h11==0.16.0
h5py==3.16.0
hf-xet==1.4.2
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
huggingface_hub==0.36.2
humanfriendly==10.0
hydra-core==1.3.2
idna==3.11
ImageIO==2.37.3
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.1
importlib_resources==6.5.2
inflect==7.0.0
jaconv==0.5.0
jamo==0.4.1
jax==0.4.30
jaxlib==0.4.30
jieba==0.42.1
Jinja2==3.1.6
jmespath==0.10.0
joblib==1.5.3
json-tricks==3.17.3
jsonlines==1.2.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
keras==2.12.0
kiwisolver==1.5.0
ko-speech-tools==0.1.0
kornia_rs==0.1.10
kubernetes==35.0.0
langid==1.1.6
lazy-loader==0.5
libclang==18.1.1
librosa==0.9.1
llama_cpp_python @ file:///C:/Users/Preston/Desktop/Y4S1/FYP/proj/new_assets/assets/llama_cpp_python-0.3.16%2Bcuda13.0.sm86.ampere-cp310-cp310-win_amd64.whl#sha256=2f7d8fb4270bbb0003f8205a27e61de745457bf3d90d7606b2fac19fa589930f
llvmlite==0.46.0
lmdb==1.4.1
loguru==0.7.2
lxml==6.0.2
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.9.0
mdurl==0.1.2
mecab-python3==1.0.9
-e git+https://github.com/myshell-ai/MeloTTS.git@209145371cff8fc3bd60d7be902ea69cbdb7965a#egg=melotts
ml_dtypes==0.5.4
mmh3==5.2.1
model-index==0.1.11
monotonic-alignment-search==0.2.1
more-itertools==10.8.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.1.2
multidict==6.7.1
multiprocess==0.70.19
munkres==1.1.4
MyShell-OpenVoice @ git+https://github.com/myshell-ai/OpenVoice.git@74a1d147b17a8c3092dd5430504bd83ef6c7eb23
narwhals==2.18.1
networkx==2.8.8
nltk==3.9.4
num2words==0.5.12
numba==0.64.0
numkong==7.1.1
numpy==1.26.4
oauthlib==3.3.1
omegaconf==2.3.0
onnx==1.16.1
onnxruntime==1.23.2
onnxruntime-gpu==1.18.0
openai-whisper==20250625
opencv-python==4.10.0.84
opencv-python-headless==4.11.0.86
opendatalab==0.0.10
openmim==0.3.9
opentelemetry-api==1.40.0
opentelemetry-exporter-otlp-proto-common==1.40.0
opentelemetry-exporter-otlp-proto-grpc==1.40.0
opentelemetry-proto==1.40.0
opentelemetry-sdk==1.40.0
opentelemetry-semantic-conventions==0.61b0
openxlab==0.1.3
opt_einsum==3.4.0
ordered-set==4.1.0
orjson==3.11.7
oss2==2.17.0
overrides==7.7.0
packaging==24.2
pandas==2.3.3
pillow==10.4.0
plac==1.4.5
platformdirs==4.9.4
plotly==6.6.0
pooch==1.9.0
proces==0.1.7
proglog==0.1.12
propcache==0.4.1
proto-plus==1.27.1
protobuf==4.25.8
psutil==7.2.2
pyarrow==23.0.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pybase64==1.4.3
pycocotools==2.0.11
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.11.10
pydantic-settings==2.13.1
pydantic_core==2.33.2
pydub==0.25.1
Pygments==2.19.2
pykakasi==2.2.1
pykalman==0.9.7
PyMuPDF==1.27.2.2
pyparsing==3.3.2
PyPika==0.51.1
pypinyin==0.50.0
pyproject_hooks==1.2.0
pyreadline3==3.5.4
pysbd==0.3.4
PySocks==1.7.1
python-crfsuite==0.9.12
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-fire==0.1.0
python-multipart==0.0.22
python-pptx==1.0.2
pytz==2023.4
pywin32==311
PyYAML==6.0.1
referencing==0.37.0
regex==2026.2.28
requests==2.33.1
requests-oauthlib==2.0.0
resampy==0.4.3
Resemblyzer==0.1.4
rich==13.7.1
rjieba==0.2.0
rouge_score==0.1.2
rpds-py==0.30.0
ruff==0.15.7
s3transfer==0.16.0
safehttpx==0.1.7
safetensors==0.7.0
scikit-image==0.24.0
scikit-learn==1.7.2
scipy==1.15.3
semantic-version==2.10.0
sentry-sdk==2.57.0
shapely==2.1.2
shellingham==1.5.4
shtab==1.8.0
six==1.17.0
smmap==5.0.3
sniffio==1.3.1
soundfile==0.12.1
soupsieve==2.8.3
soxr==1.0.0
starlette==0.52.1
stringzilla==4.6.0
sympy==1.13.1
tabulate==0.10.0
tenacity==9.1.4
tensorboard==2.12.0
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.3.0
terminaltables==3.1.10
threadpoolctl==3.6.0
tifffile==2025.5.10
tiktoken==0.12.0
timm==1.0.26
tokenizers==0.15.2
tomli==2.4.0
tomlkit==0.12.0
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchcodec==0.11.0
torchdiffeq==0.2.5
torchvision==0.20.1+cu121
tqdm==4.66.4
transformers==4.38.0
transformers-stream-generator==0.0.5
triton-windows==3.6.0.post26
txtsplit==1.0.0
typeguard==4.5.1
typer==0.24.1
typer-slim==0.24.0
typing==3.7.4.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tyro==0.8.5
tzdata==2025.3
tzlocal==5.3.1
Unidecode==1.3.7
unidic==1.1.0
unidic-lite==1.0.8
urllib3==1.26.20
uvicorn==0.42.0
vocos==0.1.0
wandb==0.25.1
wasabi==0.10.1
watchfiles==1.1.1
wavmark==0.0.3
webrtcvad==2.0.10
websocket-client==1.9.0
websockets==16.0
Werkzeug==3.1.6
whisper-timestamped==1.15.9
win32_setctime==1.2.0
wrapt==1.14.2
x-transformers==2.17.9
xlsxwriter==3.2.9
xtcocotools==1.14.3
xxhash==3.6.0
yapf==0.43.0
yarl==1.23.0
zipp==3.23.0
